@keyframes rotate {
  to{
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  min-height: 500px;
  width: 100%;
  padding: 0 15px;

  font-family: Arial, Helvetica, sans-serif;
  color: #2e2e2e;
  background-color: #fdfdfd;

}

h1, h2{
  text-align: center;
  padding: 10px 0;
}

.pageTitle{
  padding: 20px 0;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.circle{
  border-top: 7px solid #dfae6f;
  border-bottom: 7px solid #dfae6f;
  border-left: 7px solid #3b3b3b;
  border-right: 7px solid #313131;
  border-radius: 50%;
  animation: rotate linear infinite .8s;

  height: 50px;
  width: 50px;
}

/* error */

.error, .success{
  display: flex;
  width:calc(100% - 20px);
  margin: 20px auto;
  max-width: 680px;
}

.error p {
  background-color: rgba(255, 0, 0, 0.192);
  text-align: center;
  width: 100%;
  border-radius: 7px;
  padding: 10px;
}
.success p {
  border-radius: 7px;
  padding: 10px;
  background-color: rgba(0, 255, 0, 0.192);
  text-align: center;
  width: 100%;
}

#root{
  width: 100%;
}

.home{
  min-height: calc(100vh - 120px);
}

header{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.068)
}

header > nav > a {
  font-size: 1.2em;
  padding: 10px 15px;
  border-radius: 15px;
  white-space: nowrap;
}

header > nav > a:hover{
  color: #dfae6f;
}

header span{
  font-size: 1.3em
}

header .active{
  color: #fdfdfd;
  background-color: #dfae6f;
}

header .active:hover{
  color: #fdfdfd;
  background-color: #dfae6f;
}

a, .my_link{
  font-weight: bold;
  text-decoration: none;
  color: #2e2e2e;
}

b{
  color: #dfae6f;
}

.switchLogin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  position: absolute;
  top: 20px;
}
.switchLogin a{
  background-color: #e0e0e0;
  color: #2e2e2e;
  font-size: 1.3em;
  padding: 10px 15px;
  border-radius: 15px;
  white-space: nowrap;
} 

label{
  padding-left: 3px;
}

label > span{
  color: #7c7c7c;
  font-size: .8em;
}

.forms{
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding-top: 60px;
}

form{
  width: 100%;
  max-width: 700px;
  padding: 0 10px;
  margin: auto;
}

p.text{
  text-align: center;
  padding:30px;
  color: #7c7c7c;
  font-size: 1.1em;
  font-weight: bold;
}

input, textarea{
  resize: none;
  padding: 12px 10px;
  margin: 3px 0 10px 0;
  border: 0;
  background-color: #e0e0e0;
  color: #2e2e2e;
  border-radius: 10px;
  width: 100%;
  font-size: 1em;
}
textarea{
  font-family: Arial, Helvetica, sans-serif
}

button{
  padding: 10px 20px;
  border: 0;
  background-color: #dfae6f;
  color: #fdfdfd;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.1em;
  margin: 7px;
}
button:hover{
  opacity: 0.9;
}
.btnDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #e0e0e0;
}
@media (max-height: 580px) {
  .switchLogin{top: 5px;}
}

@media (max-height: 500px) {
  .switchLogin{position: relative;}
  body{
    padding-bottom: 50px;
  }
}


@media (max-width: 580px) {
  header > nav > a{
    font-size: 1em;
  }
  .switchLogin a {
    font-size: 1.1em;
  }
  header > nav > a {
    padding: 12px 10px;
  }

}

@media (max-width: 500px){
  header > span > a {
    display: none;
  }
  header {
    padding-right: 30px;
    justify-content: center;
  }
  form{
    padding: 0;
  }
  .error{
    width: 100%;
  }
}

@media (max-width: 375px){
  header{
    font-size: 0.9em;
  }
}
@media (max-width: 350px){
  
}